:root {
    --bg-yellow: #edf044;
    --bg-blue: #00c2ff;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
    background-color: whitesmoke;
    margin: 0px;
    overflow: hidden;
}

h1 {
    font-size: 60pt;
    position: relative;
    margin-left: 20px;
}

.title {
    color: var(--bg-blue);
    font-family: "Roboto", sans-serif;
}

.title-back {
    position: absolute;
    top: 3px;
    left: 12px;
    z-index: -1;
    font-family: "Roboto", sans-serif;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    animation: 10s ease 0s infinite alternate title;
}

p {
    font-weight: bold;
    font-family: "Roboto", sans-serif;
    font-size: 20pt;
    justify-content: center;
    position: relative;
    left: 1em;
    top: 10em;
}

.description {
    margin-right: 1000px;
    text-align: center;
}

.w-b {
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 100px;
    height: 100px;
    font-size: 40pt;
    background: #000;
    border-radius: 25px;
    box-shadow: 0px 0px 10px black;
    position: absolute;
    z-index: -1;
}

.w-b h3 {
    margin-top: 10px;
}

.buttons {
    position: relative;
    transform: translate(12em, 10em) scale(0.6);
    font-family: "Roboto", sans-serif;
    color: #fff;
}

#d {
    left: 8%;
}

#a {
    left: -8%;
}

#w {
    bottom: 10%;
}

#s {
    margin-top: 1.9em;
    top: 20%;
}

.circle {
    width: 1062px;
    height: 1062px;
    border-radius: 60%;
    position: absolute;
    background: var(--bg-blue);
    z-index: -2;
    left: 38em;
    top: -10em;
    border: none;
    box-shadow: 0px 0px 30px #0000004b;
    text-align: center;
    align-items: center;
    justify-content: center;
}

canvas {
    background: #fff;
    position: relative;
    top: 13em;
    right: 6em;
    border-radius: 10px;
    box-shadow: 0px 0px 20px #0000004b;
}

.info {
    width: 20em;
    height: 10em;
    position: absolute;
    font-family: "Roboto", sans-serif;
    top: 14em;
    left: 10em;
    color: #fff;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-radius: 50px;
    /* animation-name: pontos;
    animation-duration: 4s;
    animation-iteration-count: infinite; */
    animation: 10s ease 0s infinite alternate pontos;
}

@keyframes pontos {
    0%   {background-color: #df3939;}
    50%  {background-color: yellow;}
    100%  {background-color: #5757db;}
}

@keyframes title {
    0%   {color: #df3939;}
    50%  {color: yellow;}
    100%  {color: #5757db;}
}

#pontos{
    text-align: center;
    margin-top: 0.5em;
    margin-left: 0em;
    text-shadow: 0px 0px 10px #0000001e;
    font-family: 'Roboto', sans-serif;
}

#frase {
    display: none;
}

.animation {
    position: absolute;
    z-index: -3;
    top: 0;
    transform: scale(5);
    left: 10%;
    opacity: 0.05;
}

@media only screen and (min-width: 1920px) {
    .circle {
        top: 0%;
        left: 58%;
        transform: scale(1.2);
    }

    h1 {
        font-size: 80pt;
    }

    p {
        margin-left: 500px;
        left: -9em;
        top: -1em;
        font-size: 25pt;
    }

    .buttons {
        transform: translate(12em, 5em) scale(0.8);
    }

    #d {
        left: 6%;
    }

    #a {
        left: -6%;
    }

    #w {
        bottom: 10%;
    }

    #s {
        margin-top: 1.9em;
        top: 20%;
    }
}
